target/
!.mvn/wrapper/maven-wrapper.jar
logs/
*.class
*.log
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/
bin/
dependency-reduced-pom.xml
HELP.md
.DS_Store
